/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  font-size: 62.5;
}
html,
body {
  height: 100%;
  margin: 1%;
}
@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  header nav {
    display: flex;
    flex-direction: column;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
  height: 4vh;
}
header a {
  color: brown;
  margin-left: 46px;
  font-size: 1.2rem;
}
.secOne {
  background-color: #ffd1a2;
  padding: 21px;
}
@media screen and (max-width: 500px) {
  .secOne {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.secOne img {
  width: 25%;
  padding: 0 0 18px 0;
}
.secOne h1 {
  font-size: 3rem;
}
.secOne h2 {
  padding: 7px 0 24px 0;
  font-size: 1.7rem;
}
.secOne p {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 39px;
}
.secOne button {
  border: 2px solid black;
  padding: 13px 7px;
  font-size: 1.1rem;
  margin-top: 27px;
}
.secTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 28px;
}
@media screen and (max-width: 500px) {
  .secTwo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.secTwo div {
  width: 49%;
}
.secTwo h3 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}
.secTwo p {
  font-family: 'Amatic SC', cursive;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding-top: 11px;
}
.secTwo a {
  border: 1px solid gray;
  font-size: 1.6rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 1px;
  padding: 8px;
}
.secTwo #list {
  display: flex;
  flex-direction: column;
}
.secThree {
  padding-top: 20px;
}
@media screen and (max-width: 500px) {
  .secThree {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.secThree h2 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}
.secThree #topRow th {
  font-weight: bold;
}
.secThree table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.secThree .colorIn {
  background-color: #e7a1a1;
}
.secThree th {
  border: 2px dotted #493308;
  text-align: left;
  padding: 8px;
}
.secThree td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.secThree table {
  font-family: arial, sans-serif;
  width: 100%;
}
